apiVersion: kubeadm.k8s.io/v1beta1
kind: InitConfiguration
localAPIEndpoint:
#  advertiseAddress: 127.0.0.1
#  bindPort: 6443
  advertiseAddress: "{{ control_ip }}"
  bindPort: 16443
---
apiVersion: kubeadm.k8s.io/v1beta1
kind: ClusterConfiguration
kubernetesVersion: "v1.13.1"
apiServer:
  certSANs:
#  - "{{ control_fqdn }}"
  - "master.local"
controlPlaneEndpoint: "master.local:6443"
#controlPlaneEndpoint: "{{ control_fqdn }}"
networking:
  dnsDomain: cluster.local
  podSubnet: "10.244.0.0/16"
  serviceSubnet: 10.96.0.0/12
